<div class="form-group">
    <label for="message">Message :</label>
    <textarea class="form-control" rows="5" id="message" >{{user.username}}</textarea>
    <textarea >{{user.username}}</textarea>
</div>
<div class="container">
    <h2>Categories</h2>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Items</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Money</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Technology</a></li> 
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Company</a></li>
      </ul>
    </div>
  </div>
<button class="button">Ask</button>
